               
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba( 0, 0, 0, 0.75), rgba( 0, 0, 0, 0.75)), url("../img/ex.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {  
    width: 86%;
    height:100px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.logo {
    width: 100px;
    height: 50px;
    cursor: pointer; 
} 
.navbar ul li {  
    list-style: none;
    display:inline-block;
    margin: 0 15px;                 
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    /* text-transform: uppercase; */
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 25%;
    transform: rotateY(-50%);
    text-align: start;
    color: #fff;
    margin-left: 100px;
}

.content h1 {

font-size: 72px;
  
}

.content p {
    font-size: 24px;
}
/* About */


.about {
    width: 100%;
    height: 100vh;
    transform: rotateY(-50%);
    text-align: center;
    color: rgb(218, 23, 23);
}


.service {
    
    height: 90vh;
    transform: rotateY(-50%);
    text-align: center;
    color: rgb(218, 23, 23);
}

.approach {
    width: 100%;
    height: 100vh;

    transform: rotateY(-50%);
    text-align: center;
    color: rgb(218, 23, 23);
}

.portfolio {
    width: 100%;
    height: 100vh;
 
    transform: rotateY(-50%);
    text-align: center;
    color: rgb(218, 23, 23);
}

.contact {
    width: 100%;
    height: 100vh;

    transform: rotateY(-50%);
    text-align: center;
    color: rgb(218, 23, 23);
}

button {
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}